{% extends "base.html" %}
{% block title %}About Page{% endblock %}
 
{% block content %}
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Our mission is to help subscription-based businesses</h1>
                    <p class="lead fw-normal text-muted mb-4">We are replacing already existing subscription via NFT</p>
                    <!-- <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a> -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <video class="img-fluid rounded mb-5 mb-lg-0 controls" controls width="360" height="480" src="{{ url_for('static', path='/video_ready.mp4') }}" type="video/mp4">
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our customer</h2>
                <img class="img-fluid rounded mb-5 mb-lg-0" src="{{ url_for('static', path='/footer_logo_d.png') }}" alt="..." />
                <p class="lead fw-normal text-muted mb-0">Denis Slepenkov Elite Fungi CEO.</p>
                <p class="lead fw-normal text-muted mb-0">Company was our first customer. They want us to replace and recreate the subscription model for them. </p>
                
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0" width="360" height="270" src="{{ url_for('static', path='/ls_feed.jpg') }}" alt="..." />
                
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Life Style gym</h2>
                <p class="lead fw-normal text-muted mb-0">We've contacted with director and they approved our idea and ready for MVP</p>
                <img class="img-fluid rounded mb-5 mb-lg-0" src="{{ url_for('static', path='/lifestyle.png') }}" alt="..." />
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <!--<p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>-->
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{{ url_for('static', path='/Nikolay.png')}}" alt="..." />
                    <h5 class="fw-bolder">Nikolay Ivanov</h5>
                    <div class="fst-italic text-muted">King of Customer feedback &amp; Middle NFT developer</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{{ url_for('static', path='/Alisa.png')}}" alt="..." />
                    <h5 class="fw-bolder">Alisa Kalacheva</h5>
                    <div class="fst-italic text-muted">Senior NFT developer &amp; The brain of the team</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{{ url_for('static', path='/Mark.png')}}" alt="..." />
                    <h5 class="fw-bolder">Mark Nuzhnov</h5>
                    <div class="fst-italic text-muted">Senior NFT developer &amp; The muscles of the team</div>
                </div>
            </div>

        </div>
    </div>
</section>
 
{% endblock %}    